body {
    text-align: center;
    margin: 4%;
    margin-top: 1%;
}
.left {
    /* padding: 3%; */
    background-color: aliceblue;
    margin-bottom: 3% ;
    height: auto;
}

.profile_pic {
    width: 40%;
    border-radius: 100%;
    margin-top: 10%;
}

h1 {
    font-family: 'Peralta', cursive;
    font-weight: bold;
    padding: 5% 5% 2% 5%;
}

h3 {
    font-family: 'Alkalami', serif;
}

.email-button:hover {
    background-color: #fff;
    color: black;
}

.email-button {
    margin: 3%;

    padding: 2% 5% 2% 5%;
}

.social_icons {
    margin: 2%;
    margin-top: 8%;
    color: black;
}

.about_me {
    font-size: 60px;
    font-weight: bold;
    text-align:justify;
}

.about_details {
    margin-bottom: 50%;
    font-size: 2rem;
    
}

p{
    font-size: 1.3rem;
}
.right {
    padding: 5% 5%;
    text-align: justify;
}

.buttons {
    margin-top: 6%;
}

.right_button {
    padding: 2% 5% 2% 5%;
    margin: 10%;
}